<div class="row my-5 gx-4 align-items-center justify-content-center justify-content-sm-between position-relative"> 
    <div class="col-6 d-none d-sm-block"><img src="/{{ directory }}/img/gradient_arrows_colored.fd67d8e1.svg" alt="Flèches"></div> 
    <div class="col-9 col-sm-6 text-center text-sm-start">
        <h3 class="big-text">{{ content.body.0 }}</h3>
    </div> 
</div>