


<section class="py-5"> 
    <div class="px-lg-5"> 
        <div class="text-center"> 
            <div class="high-tide mb-2 quote">« {{content.field_quote.0|render|striptags}} »</div> 
            <div class="text-center text-sm-end bold-font fs-3">{{ content.field_auteur|render|striptags}}</div> 
        </div> 
    </div> 
</section>