<div class="text-center"> 
  <img src="/{{directory}}/dist/img/fmc_bird.eebf1d21.svg" alt="Oiseau FMC" width="400" class="fmc-bird ms-sm-5 mw-100 mx-2"> 
</div>
<hr>
<div class="container">
  <section class="activites-gratuites">
    <h1 class="main-title mx-auto py-5 text-center w-75">ACTIVITÉS GRATUITES</h1>
    <div>
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
</div>
</section>